---
layout: default
title: Extras and Addons 
permalink: extras/addons.html
---

{% for addon in site.addons %}

    <div class="col s12 m6">
      <div class="card shishu-light-bg">
        <div class="card-image">
          <img src="{{ addon.pic }}" class="responsive-img">
          {% if addon.xdathread %}
          <a class="btn-floating halfway-fab waves-effect waves-light shishu-accent-btn tooltipped" data-position="left" data-tooltip="Get it from XDA!" href="{{ addon.xdathread }}"><i class="material-icons">library_books</i></a>
          {% elsif addon.playstore %}
          <a class="btn-floating halfway-fab waves-effect waves-light shishu-accent-btn tooltipped" data-position="left" data-tooltip="Get it from Play Store!" href="{{ addon.playstore }}"><i class="material-icons">shop</i></a>
          {% elsif addon.download %}
          <a class="btn-floating halfway-fab waves-effect waves-light shishu-accent-btn tooltipped" data-position="left" data-tooltip="Get it now!" href="{{ addon.download }}"><i class="material-icons">get_app</i></a>
          {% else %}
          <a class="btn-floating halfway-fab waves-effect waves-light shishu-accent-btn tooltipped" data-position="left" data-tooltip="Get it from" href="{{ addon.url }}"><i class="material-icons">exit_to_app</i></a>
          {% endif %}
        </div>
        <div class="card-content shishu-light-bg">
          <h5>{{ addon.title }}</h5>
          <h6 class="text-muted">{{ addon.type }}</h6>
          <p>{{ addon.desc }}</p>
        </div>
      </div>
    </div>


{% endfor %}
