---
layout: page
title: Devices and Downloads
---
<p>Here you can download Bootleggers ROM for your supported device. Note that here are just <span tabindex="0" data-toggle="tooltip" title="Some tooltip text!">Shishufied</span> builds.</p>
<div id="accordion">
{% for devicename in site.devicelist %}
  <div class="card" style="background:#2e2e3a!important">
    <div class="card-header" id="heading{{ forloop.index }}">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ forloop.index }}" aria-expanded="true" aria-controls="collapse{{ forloop.index }}">
          <i class="material-icons">perm_device_information</i> {{ devicename.devrealname }} ({{ devicename.devcodename }})
        </button>
      </h5>
    </div>

    <div id="collapse{{ forloop.index }}" class="collapse" aria-labelledby="heading{{ forloop.index }}" data-parent="#accordion">
      <div class="card-body">
      <p><strong>Official Maintainer:</strong> {{ devicename.devmaintainer }} </p>
      <div class="btn-group" role="group" aria-label="Downloads">
        <a href="{{ devicename.devxdathread }}"><button type="button" class="btn btn-secondary">XDA Thread</button></a>
        {% if devicelist.devdlink %}
        <a href="{{ devicename.devdlink }}"><button type="button" class="btn btn-secondary">Downloads</button></a>
        {% else %}
        <a href="https://sourceforge.net/projects/bootleggersrom/files/{{ devicename.devcodename }}"><button type="button" class="btn btn-secondary">Downloads</button></a>
        {% endif %}
      </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>

<br><br>
<h3>Our base and Sources</h3>
<p>As we said before, we're based on GZOSP, who's made by Ground Zero ROMs team. We track most of the repos from them so, if you know about some specific patches or commits that may help them to make it a more robust base, please send them to their gerrit, or if you want to help us with some fix or feature, please be sure to make a pull request on our github.</p>

        <a href="https://github.com/BootleggersROM"><button type="button" class="btn btn-secondary">Bootleggers Github</button></a>
        <a href="https://github.com/GZOSP"><button type="button" class="btn btn-secondary">GZOSP Github</button></a>
        <a href="https://review.gzospgzr.com"><button type="button" class="btn btn-secondary">GZOSP Gerrit</button></a>