---
layout: default
title: Blog
permalink: blog.html
---


<!-- BLOG CODE -->
<div class="container posts">
  <div class="row justify-content-center">
        <div class="col-lg-12">
  {% for post in paginator.posts %}

           <div class="card shishulightbg">
              <img class="card-img-top img-fluid mx-auto" src="{{ post.image }}" alt="Card image cap" style="max-height:300px">
              <div class="card-body">
                <h5 class="card-title"><a href="{{ site.url }}/{{ post.url }}"> {{ post.title }} </a> </h5>
                <h6 class="card-subtitle mb-2 text-muted" style="color:rgba(255,255,255,.38) !important">{{ post.date | date_to_string }}</h6>
                    {{ post.content }}
              </div>
            </div>
            <br><br>
  {% endfor %}
        </div>
  </div>
</div>

<!--<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->

