<head>
  <!-- Page related info -->
  {% if page.title == null %}
  <title>{{ site.title }} | ?????</title>
  <meta name="title" content="{{ site.title }} | ?????">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="twitter:title" content="{{ site.title }}">
  <meta name="description" content="{{ site.description }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="twitter:description" content="{{ site.description }}">
  {% else %}
  <title>{{ site.title }} | {{ page.title }}</title>
  {% if page.image %}
  {% comment %} Bad approach to check if it's a blog post, then changing the title {% endcomment %}
  <meta name="title" content="{{ page.title }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="twitter:title" content="{{ page.title }}">
  {% else %}
  <meta name="title" content="{{ site.title }} | {{ page.title }}">
  <meta property="og:title" content="{{ site.title }} | {{ page.title }}">
  <meta property="twitter:title" content="{{ site.title }} | {{ page.title }}">
  {% endif %}
  <meta name="description" content="{{ page.excerpt | strip_html }}"/>
  <meta property="og:description" content="{{ page.excerpt | strip_html }}"/>
  <meta property="twitter:description" content="{{ page.excerpt | strip_html }}">
  {% endif %}

  {% if page.image %}
  <meta property="og:image" content="{{ page.image }}">
  <meta property="twitter:image" content="{{ page.image }}">
  <meta property="twitter:card" content="summary_large_image">
  {% else %}
  <meta property="og:image" content="https://github.com/BootleggersROM/ExtraStuff/raw/pasta/threadfiles/00-banner.png">
  <meta property="twitter:image" content="https://github.com/BootleggersROM/ExtraStuff/raw/pasta/threadfiles/00-banner.png">
  <meta property="twitter:card" content="summary_large_image">
  {% endif %}

  <!-- Extra props -->
  <meta property="og:site_name" content="Bootleggers ROM">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="twitter:url" content="{{ site.url }}">
  <meta name="theme-color" content="#1c1c24">

  <!-- Style importing -->
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.8.94/css/materialdesignicons.min.css">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"  media="screen,projection">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
  <link rel="stylesheet" href="{{- 'css/main.css' | relative_url -}}">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
