---
layout: default
---

<!-- BLOG CODE -->
<div class="container">
  <div class="row justify-content-center">
        <div class="col-lg-12">
  {% for post in paginator.posts %}

           <div class="card shishulightbg">
              <img class="card-img-top img-fluid mx-auto" src="{{ post.image }}" alt="Card image cap" style="max-height:300px">
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="color:rgba(255,255,255,.38) !important">{{ post.date | date_to_string }}</h6>
                    {{ post.content }}
              </div>
            </div>
  {% endfor %}
        </div>
  </div>
</div>